[Unit]
Description=ganglia collector

[Service]
Type=simple
EnvironmentFile=/etc/environment
Environment="TAG=3.6.0"
Environment="ENV=test"
ExecStart=/usr/bin/docker run --rm \
                              --name ganglia-collector-%i \
                              --env GANGLIA_DEBUG_LEVEL=1 \
                              --hostname ganglia-collector-%i.${ENV}.cluster.local \
                              --dns-search ${ENV}.cluster.local \
                              --publish 6343:6343/udp \
                              emmanuel/ganglia-collector:${TAG}

ExecStop=/usr/bin/docker kill ganglia-collector-%i

[X-Fleet]
X-Conflicts=ganglia-collector@*.service
