[Unit]
Description=Ganglia Collector

[Service]
Type=simple
Restart=always
RestartSec=5
EnvironmentFile=/etc/environment
Environment="TAG=0.0.2"
Environment="ENV=test"
ExecStart=/usr/bin/docker run --name gmond \
                              --env GMOND_DEBUG_LEVEL=1 \
                              --hostname gmond.%m.hosts.cluster.local \
                              --publish 6343:6343/udp \
                              --publish 8649:8649 \
                              emmanuel/gmond:${TAG}

ExecStop=/usr/bin/docker kill gmond

[Install]
WantedBy=multi-user.target
